/*BOCA-4828- Upgrade reverso - css fix */
.reversoResultDialog {
    background: #fff !important;
    border: 1px solid #7eabcd;
    padding: 0px;
    box-shadow: 0px 5px 10px #adadad;
    display: block;
    opacity: 0.5;
    border-radius: 6px 6px 4px 4px;
    display: block;
    max-height: 80%;
    max-width: 80%;
    overflow: auto !important;
}

.reversoResultDialog .dijitDialogPaneContent {
    background: #fff;
    border: none;
    border-top: 1px solid #d3d3d3;
    padding: 5px 20px 20px !important;
}

.reversoResultDialog .dijitDialogTitleBar {
    background: #fafafa url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAACWCAIAAAB7I84mAAAAB3RJTUUH2QkVDQAXGDk0DwAAAAlwSFlzAAALEgAACxIB0t1+/AAAADZJREFUeNpj/P//PwMDA8uvX7+AFBMDGLBABfFR//79I1IQqxw+Hj5BRkZGhDtHqVFqlKIRBQD5N0j2QSzFpgAAAABJRU5ErkJggg==') repeat-x top left !important;
    padding: 5px 6px 3px 6px;
    cursor: move;
    outline: 0;
    display: block !important;
}

.reversoResultDialog .dijitDialogTitle {
    font-weight: bold !important;
    padding: 1px 4px 0px;
    color: #1F1D1D !important;
}

.reversoResultDialog .dijitDialogCloseIcon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABxSURBVCjPY/j//z8DCK9YsUIWiAuAeDsQv4Li7VAxWZg6mGJLIN4AxP9xYJCcJVgD1GR8ipE1yTJArQQLgsCVK1fgikBsEEDSVMAAdSeKAhCNzEbSsJ0B6jkMU7EoBuFXZGkg2Ukke5q0YCU54khNGgBGq6vEsVtsywAAAABJRU5ErkJggg==') no-repeat right top !important;
    position: absolute !important;
    vertical-align: middle !important;
    right: 9px !important;
    top: 9px !important;
    height: 15px !important;
    width: 15px !important;
    cursor: pointer !important;
}


.reversoResultDialog .dijitDialogCloseIconHover {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABxSURBVCjPY/j//z8DCJd3LJAF4gIg3g7Er6B4O1RMFqYOptgSiDcA8X8cGCRnCdYANRmfYmRNsgxQK8GCILD7yAW4IhAbBJA0FTBA3YmiAEQjs5E0bGeAeg7DVCyKQfgVWRpIdhLJniYtWEmOOFKTBgBdxITM7m8TeAAAAABJRU5ErkJggg==') no-repeat right top !important;
}

.reversoResultDialog .reversoTranslating {
    margin-top: 10px;
    text-align: center;
}

.reversoResultDialog .reversoTableResult {
    margin: 0 0 10px;
    border-collapse: collapse;
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
}

.reversoTableResult th {
    padding: 10px 0;
}

.reversoTableResult th.srcHeader {
    padding-right: 5px;
}

.reversoTableResult select {
    width: 100%;
    border: 1px solid;
    font-weight: 400;
}

.reversoTableResult #reversoSelectionSource_no-popup,
.reversoTableResult #reversoSelectionDestination_no-popup {
    color: black;
    border: 1px solid;
    font-weight: 400;
}

.reversoResultDialog .reversoMessage {
    text-align: center;
    padding: 10px 0;
    margin: 13px 0 1px;
    border-radius: 3px;
    width: 100%;
    max-width: 580px;
}

.reversoResultDialog .reversoMessage.reversoErrorMessage {
    color: red;
    background: #F7DCDC;
}

.reversoResultDialog .reversoMessage.reversoInfoMessage {
    color: #08C;
    background: #D9EFFA;
}

.reversoResultDialog .reversoBorder {
    border: thin solid #BBB;
}

.reversoResultDialog .reversoResultText {
    padding: 5px;
    vertical-align: top;
}

.reversoResultDialog .reversoAdditionalLinks {
    float: right;
    font-size: 0.85em;
}

.reversoResultDialog .reversoAdditionalLinks a {
    margin-left: 5px;
}

.reversoPopupLogo {
    height: 17px;
    width: 17px;
    margin: 0px 4px 3px 0;
}

.reversoPopupLogoTooltip {
    padding: 5px 7px;
}

.xccstyle .reversoResultDialog {
    z-index: 9999 !important;
}

.xccstyle .lotusFlyoutHeader .reversoTooltipAdditionalLinks {
    padding: 10px;
    margin: 10px -15px -10px -10px;
    background: #fff;
}

.xccstyle .lotusFlyoutHeader .reversoTooltipAdditionalLinks a {
    color: #444 !important;
}

.xccstyle .lotusFlyoutHeader .lotusLanguageSelection {
    position: absolute;
    width: 50%;
    top: 42px;
    right: 21px;
    z-index: 2;
    color: #444;
}

.xccstyle .lotusFlyoutHeader .lotusLanguageSelection .reversoTableResult {
    float: right;
}
